<!-- set title -->
{% set title = 'Cart Page' %}
{% set description = 'Cart Page' %}

<!-- extends from layout -->
{% extends "layout.njk" %}

<!-- contents start from here -->
{% block content %}

    <div class="container mt-150 p-5" style="background-color:#f9f9f9; border-radius:10px;">
        <div class="row">
            <!-- checkout tabs start here -->
            <section id="checkout-tabs" class="c-checkout-tabs col-lg-8 col-12">

                <div class="card text-capitalize">
                    <a href="#collapseProduk" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseProduk">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="p-2">
                                    <p>
                                        detail produk
                                    </p>
                                </div>
                                <div class="px-2 pb-2">
                                    <i class="fas fa-lg fa-sort-down"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- content start here -->
                <div class="collapse" id="collapseProduk">
                    <div class="card card-body mt-4 p-4" style="box-shadow:unset !important;">
                        <p class="text-capitalize px-2 py-3">detail pesanan</p>
                        <div class="content">

                            <div class="media ">

                                <div class="row">
                                    <div class="col-lg-3 col-12">
                                        <img src="./assets/img/macbook-1.jpg" class="mr-3" alt="gambar barang">
                                    </div>
                                    <div class="col-lg-9 col-12">

                                        <div class="media-body">
                                            <p class="mt-0 text-capitalize" style="font-size:16px">NEW MacBook Air MQD32 (13”, 1.8Ghz Core i5/8Gb/128Gb)</p>
                                            <div class="text-capitalize pt-2" style="font-size:16px; opacity:0.8">
                                                Ram ( 8gb ), Storage ( 256gb ), Color ( gold ), Size ( 15" )
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <form class="pl-2">
                                <div class="row">
                                    <div class="col-12 pt-4">
                                        <label for="inputNama" class="text-capitalize">catatan untuk penjual</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Masukan catatan"></textarea>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                    <!-- content end here -->

                </section>
                <!-- checkout tabs end here -->

                <!-- order pricing start here -->
                <section id="checkoutpricing" class="c-checkout-pricing col-lg-4 col-12">

                    <div class="card text-capitalize">
                        <div class="card-body">

                            <p class="pt-2 pb-1">detail pesanan</p>
                            <hr>

                            <div class="d-flex align-items-center justify-content-between" style="letter-spacing:0.5px; font-size:14px;">
                                <div class="p-1">harga barang&nbsp;:
                                </div>
                                <div class="p-1">IDR 29,500,000</div>
                            </div>
                            <hr>

                            <div class="d-flex align-items-center justify-content-between pt-2 font-weight-bolder" style="letter-spacing:0.5px; font-size:16px;">
                                <div class="p-1">total harga&nbsp;:
                                </div>
                                <div class="p-1">IDR 29,532,500</div>
                            </div>

                            <a href="#" class="c-btn-primary w-100 mt-4">
                                lanjutkan pemesanan
                            </a>

                        </div>
                    </div>

                </section>
                <!-- order pricing end here -->

            </div>

        </div>

    {% endblock %}
    <!-- contents end here -->