<!-- set title -->
{% set title = 'Homepage' %}
{% set description = 'Homepage' %}

<!-- extends from layout -->
{% extends "layout.njk" %}

<!-- contents start from here -->
{% block content %}
    <div class="container">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ea aliquam, assumenda voluptas, sequi culpa error consequatur odio incidunt laudantium sit voluptatem, cupiditate delectus voluptate magnam? Corrupti qui culpa quaerat?
    </div>
{% endblock %}
<!-- contents end here -->