<!-- set title -->
{% set title = 'Homepage' %}
{% set description = 'Homepage' %}

<!-- extends from layout -->
{% extends "layout.njk" %}

<!-- contents start from here -->
{% block content %}

    <!-- slider start here -->
    <section id="home" class="slider-area pt-100" style="margin-top:20px;">
        <div class="container-fluid position-relative">
            <div class="slider-active">
                <div class="single-slider">
                    <div class="slider-bg">
                        <div class="row no-gutters align-items-center ">
                            <div class="col-lg-4 col-md-5">
                                <div class="slider-product-image d-none d-md-block">
                                    <img src="/app/assets/img/1.jpg" alt="Slider">
                                    <div class="slider-discount-tag">
                                        <p>gratis
                                            <br>
                                            pengiriman</p>
                                    </div>
                                </div>
                                <!-- slider product image -->
                            </div>
                            <div class="col-lg-8 col-md-7">
                                <div class="slider-product-content">
                                    <h1 class="slider-title mb-10" data-animation="fadeInUp" data-delay="0.3s">
                                        Secondhand Macbook 12 inch MLHA2 Early 2016 Promo.
                                    </h1>
                                    <p class="mb-30 mt-30 mr-50" data-animation="fadeInUp" data-delay="0.9s" style="letter-spacing:1px; line-height:1.5em;">
                                        Dunia design, fotografi dan grafis identik dengan mantengin layar berjam-jam bahkan mungkin lembur semalam suntuk, karena pertimbangan itulah di perlukan mac yang memiliki kualitas layar yang jernih dan lincah untuk di bawa beraktivitas, seperti bertemu serta presentasi ke klien.
                                    </p>
                                    <a class="c-btn-primary" href="#" data-animation="fadeInUp" data-delay="1.5s">
                                        info lebih lanjut
                                    </a>
                                </div>
                                <!-- slider product content -->
                            </div>
                        </div>
                        <!-- row -->
                    </div>
                    <!-- container -->
                </div>
                <!-- single slider -->

                <div class="single-slider">
                    <div class="slider-bg">
                        <div class="row no-gutters align-items-center ">
                            <div class="col-lg-4 col-md-5">
                                <div class="slider-product-image d-none d-md-block">
                                    <img src="/app/assets/img/2.jpg" alt="Slider">
                                    <div class="slider-discount-tag">
                                        <p>50% disc</p>
                                    </div>
                                </div>
                                <!-- slider product image -->
                            </div>
                            <div class="col-lg-8 col-md-7">
                                <div class="slider-product-content">
                                    <h1 class="slider-title mb-10" data-animation="fadeInUp" data-delay="0.3s">
                                        iPhone 6s Plus - Disc 50%
                                    </h1>
                                    <p class="mb-30 mt-30 mr-50" data-animation="fadeInUp" data-delay="0.9s" style="letter-spacing:1px; line-height:1.5em;">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit optio pariatur, vitae vero cum dolorem omnis. Rerum, voluptatem eaque velit quam sapiente natus obcaecati, vel praesentium minima ducimus veniam debitis.
                                    </p>
                                    <a class="c-btn-primary" href="#" data-animation="fadeInUp" data-delay="1.5s">
                                        lihat produk
                                    </a>
                                </div>
                                <!-- slider product content -->
                            </div>
                        </div>
                        <!-- row -->
                    </div>
                    <!-- container -->
                </div>
                <!-- single slider -->

                <div class="single-slider">
                    <div class="slider-bg">
                        <div class="row no-gutters align-items-center ">
                            <div class="col-lg-4 col-md-5">
                                <div class="slider-product-image d-none d-md-block">
                                    <img src="/app/assets/img/3.jpg" alt="Slider">
                                    <div class="slider-discount-tag">
                                        <p>80% disc</p>
                                    </div>
                                </div>
                                <!-- slider product image -->
                            </div>
                            <div class="col-lg-8 col-md-7">
                                <div class="slider-product-content">
                                    <h1 class="slider-title mb-10" data-animation="fadeInUp" data-delay="0.3s">
                                        iPhone SE - Disc 80%
                                    </h1>
                                    <p class="mb-30 mt-30 mr-50" data-animation="fadeInUp" data-delay="0.9s" style="letter-spacing:1px; line-height:1.5em;">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam commodi obcaecati molestiae amet nam rerum mollitia beatae praesentium nemo eaque corrupti voluptatem iure, laudantium ducimus quae quam facilis explicabo!
                                    </p>
                                    <a class="c-btn-primary" href="#" data-animation="fadeInUp" data-delay="1.5s">
                                        lihat produk
                                    </a>
                                </div>
                                <!-- slider product content -->
                            </div>
                        </div>
                        <!-- row -->
                    </div>
                    <!-- container -->
                </div>
                <!-- single slider -->
            </div>

        </div>
        <!-- container fluid -->
    </section>
    <!-- slider end here -->

{% endblock %}
<!-- contents end here -->