<!-- set title -->
{% set title = 'Macberry - Product Detail' %}
{% set description = 'Product Detail Page' %}

<!-- extends from layout -->
{% extends "layout.njk" %}

<!-- contents start from here -->
{% block content %}

    <!-- product detail start here -->
    <section class="product-single-page pt-80 c-product-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-8">
                    <div class="product-image mt-50">
                        <div class="single-product-image">
                            <img src="./assets/img/macbook-1.jpg" alt="product">
                        </div>
                        <!-- single product image -->
                        <div class="single-product-image">
                            <img src="./assets/img/macbook-2.jpg" alt="product">
                        </div>
                        <!-- single product image -->
                        <div class="single-product-image">
                            <img src="./assets/img/macbook-3.jpg" alt="product">
                        </div>
                        <!-- single product image -->
                    </div>
                    <!-- product image -->
                </div>
                <div class="col-lg-7 col-md-10 ">
                    <div class="product-description mt-45 ml-15">
                        <h4 class="description-title text-capitalize">
                            Secondhand Macbook 12 inch MLHA2 Early 2016 Promo.
                        </h4>
                        <div class="product-rating d-flex pt-10">
                            <ul>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                </li>
                            </ul>
                            <span class="review" style="opacity:0.9;">128 / 200 Review</span>
                        </div>
                        <!-- product rating -->
                        <div class="product-price mt-15  text-uppercase">
                            <span class="regular-price">
                                idr 15,000,000
                            </span>
                            <span class="discount-price">IDR 16,500,000</span>
                        </div>

                        <div class="row c-product-detail-specs pt-10">
                            <div class="col-6">
                                <p>
                                    ram:
                                </p>
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">8 gb</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">16 gb</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <p>
                                    ruang penyimpanan :
                                </p>
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">128 gb</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">256 gb</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-12">
                                <p>
                                    warna :
                                </p>
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">space gray</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">pure black</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <p>
                                    ukuran :
                                </p>
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link " id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">13 inch</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">15 inch</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="available pt-10 text-capitalize">
                            <p>Stok :
                                <span>10 produk</span></p>
                        </div>
                        <div class="product-add d-flex pt-10">
                            <div class="product-add-count mt-10">
                                <input type="number" value="0">
                            </div>
                            <div class="product-add-btn mt-10 text-capitalize">
                                <a class="c-btn-primary" href="#">Beli sekarang</a>
                            </div>
                        </div>
                    </div>
                    <!-- product description -->
                </div>
            </div>
            <!-- row -->
            <div class="shop-review-area mt-50">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop-reviews">
                            <ul class="nav text-capitalize" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">deskripsi produk</a>
                                </li>
                                <li class="nav-item">
                                    <a id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Ulasan produk</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                    <div class="tab-description">
                                        <div class="description-details mt-45">
                                            <h5 class="title mb-25 text-capitalize">deskripsi produk</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ratione, nam neque autem nobis cum itaque! Neque magni adipisci consequuntur fugit voluptatibus dignissimos. Culpa officia similique, corrupti illo odio quia?</p>
                                        </div>
                                        <div class="description-features mt-45">
                                            <h5 class="title mb-25 text-capitalize">spesifikasi</h5>

                                            <!-- spesifikasi #1 -->
                                            <div class="row pt-15">
                                                <div class="col-3">
                                                    <h6 class="text-capitalize font-weight-normal">
                                                        layar
                                                    </h6>
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Layar Retina
                                                        <br><br>
                                                        Layar 13,3 inci (diagonal) dengan lampu latar LED dan teknologi IPS; resolusi 2560 x 1600 pada 227 piksel per inci dengan dukungan untuk jutaan warna
                                                    </p>
                                                </div>
                                                <div class="col-12 pt-10">
                                                    <hr>
                                                </div>
                                            </div>
                                            <!-- spesifikasi #1 -->

                                            <!-- spesifikasi #2 -->
                                            <div class="row pt-15">
                                                <div class="col-3">
                                                    <h6 class="text-capitalize font-weight-normal">
                                                        prosesor
                                                    </h6>
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Intel Core i5 dual-core 1,6 GHz, Turbo Boost hingga 3,6 GHz, dengan cache L3 sebesar 4MB
                                                    </p>
                                                </div>
                                                <div class="col-12 pt-10">
                                                    <hr>
                                                </div>
                                            </div>
                                            <!-- spesifikasi #2 -->

                                            <!-- spesifikasi #3 -->
                                            <div class="row pt-15">
                                                <div class="col-3">
                                                    <h6 class="text-capitalize font-weight-normal">
                                                        penyimpanan
                                                    </h6>
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        SSD berbasis PCIe 128 GB or SSD berbasis PCIe 256 GB
                                                    </p>
                                                </div>
                                                <div class="col-12 pt-10">
                                                    <hr>
                                                </div>
                                            </div>
                                            <!-- spesifikasi #3 -->

                                            <!-- spesifikasi #4 -->
                                            <div class="row pt-15">
                                                <div class="col-3">
                                                    <h6 class="text-capitalize font-weight-normal">
                                                        memori
                                                    </h6>
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Memori terpasang LPDDR3 2133 MHz sebesar 8 GB
                                                    </p>
                                                </div>
                                                <div class="col-12 pt-10">
                                                    <hr>
                                                </div>
                                            </div>
                                            <!-- spesifikasi #4 -->

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                                    <div class="tab-review">
                                        <div class="review-item">
                                            <ul>
                                                <li>
                                                    <div class="single-review d-sm-flex">
                                                        <div class="review-thumb">
                                                            <img src="https://placehold.it/100" alt="Review" style="max-height:65px; min-height:65px">
                                                        </div>
                                                        <div class="review-content media-body">
                                                            <div class="review-name">
                                                                <h5 class="name">Daniel Vandaft</h5>
                                                                <span>25 June, 2019</span>
                                                                <ul class="review-rating mt-15">
                                                                    <li>
                                                                        <i class="far fa-star"></i>
                                                                    </li>
                                                                    <li>
                                                                        <i class="far fa-star"></i>
                                                                    </li>
                                                                    <li>
                                                                        <i class="far fa-star"></i>
                                                                    </li>
                                                                    <li>
                                                                        <i class="far fa-star"></i>
                                                                    </li>
                                                                    <li>
                                                                        <i class="far fa-star"></i>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <p class="mt-10">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                                                        </div>
                                                    </div>
                                                    <!-- single review -->
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- review item -->
                                        <div class="review-form pt-20">
                                            <form action="#">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="single-review-input">
                                                            <input type="text" placeholder="Nama Anda*">
                                                        </div>
                                                        <!-- single review input -->
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="single-review-input">
                                                            <input type="email" placeholder="Email*">
                                                        </div>
                                                        <!-- single review input -->
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="single-review-input d-flex">
                                                            <p>Rating :</p>
                                                            <div class="star-rating">
                                                                <i class="far fa-star" data-rating="1"></i>
                                                                <i class="far fa-star" data-rating="2"></i>
                                                                <i class="far fa-star" data-rating="3"></i>
                                                                <i class="far fa-star" data-rating="4"></i>
                                                                <i class="far fa-star" data-rating="5"></i>
                                                            </div>
                                                        </div>
                                                        <!-- single review input -->
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="single-review-input">
                                                            <textarea placeholder="Your Review*"></textarea>
                                                        </div>
                                                        <!-- single review input -->
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="single-review-input">
                                                            <button type="submit" class="c-btn-primary text-capitalize">Kirim ulasan</button>
                                                        </div>
                                                        <!-- single review input -->
                                                    </div>
                                                </div>
                                                <!-- row -->
                                            </form>
                                        </div>
                                        <!-- review form -->
                                    </div>
                                    <!-- tab review -->
                                </div>
                            </div>
                            <!-- tab content -->
                        </div>
                        <!-- shop reviews -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>

    <!-- product detail end here -->

{% endblock %}
<!-- contents end here -->