<!-- set title -->
{% set title = 'Macberry - Product List' %}
{% set description = 'Product List Page' %}

<!-- extends from layout -->
{% extends "layout.njk" %}

<!-- contents start from here -->
{% block content %}

    <!-- header start here -->
    <section id="header">
        <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light c-header">
            <div class="row">
                <div class="col-md-7 p-lg-5 mr-auto my-5 pb-5 text-left">
                    <h1 class="display-4 font-weight-normal pb-3 text-capitalize">explore our product</h1>
                    <p class="font-weight-normal pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia placeat sunt delectus, atque eum sapiente veritatis velit fuga aperiam error voluptatem eligendi magni.</p>
                    <a class="c-btn-primary" href="#">Coming soon</a>
                </div>
                <div class="col-md-5">
                    <img src="../app/assets/img/showcase-2.png" alt="product-image header">
                </div>
            </div>
        </div>
    </section>
    <!-- header end here -->

    <!-- promo start here -->
    <section id="discount-product" class="discount-product pt-50 c-product-promo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-discount-product mt-0">
                        <div class="product-image">
                            <img src="../app/assets/img/showcase-1.jpg" alt="Product" style="object-fit:cover;">
                        </div>
                        <!-- product image -->
                        <div class="product-content">
                            <h4 class="content-title mb-15">our brand new promo</h4>
                            <a href="#">View Collection
                            </a>
                        </div>
                        <!-- product content -->
                    </div>
                    <!-- single discount product -->
                </div>
                <div class="col-lg-6">
                    <div class="single-discount-product mt-30">
                        <div class="product-image">
                            <img src="../app/assets/img/iphone-3.jpg" alt="Product">
                        </div>
                        <!-- product image -->
                        <div class="product-content">
                            <h4 class="content-title mb-15">High-quality accessories</h4>
                            <a href="#">View Collection
                            </a>
                        </div>
                        <!-- product content -->
                    </div>
                    <!-- single discount product -->
                </div>
                <div class="col-lg-6">
                    <div class="single-discount-product mt-30">
                        <div class="product-image">
                            <img src="../app/assets/img/macbook-1.jpg" alt="Product">
                        </div>
                        <!-- product image -->
                        <div class="product-content">
                            <h4 class="content-title mb-15">Hot Offer
                                <br>
                                Discount up to 80%</h4>
                            <a href="#">View Collection
                            </a>
                        </div>
                        <!-- product content -->
                    </div>
                    <!-- single discount product -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- promo end here -->

    <!-- product list header start here -->
    <section id="product-header" class="mt-50">

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="text-capitalize">our product list</h3>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, minus reiciendis. Enim quo.
                    </p>
                </div>
                <div class="col-lg-6">
                    <form>
                        <div class="row">
                            <div class="col-lg-7">
                                <input type="text" class="form-control" placeholder="Cari produk..."></div>
                            <div class="col-lg-5">
                                <select class="form-control">
                                    <option>Produk second</option>
                                    <option>Produk baru</option>
                                    <option>lain lain</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- product list header end here -->

    <!-- produt list start here -->
    <section id="product-list" class="c-product-list">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">

                    <!-- product post #1 -->
                    <div class="single-product mt-30">
                        <div class="product-image">
                            <img src="./assets/img/macbook-1.jpg" alt="product img">
                        </div>
                        <div class="product-content">
                            <div class="content">
                                <div class="row justify-content-between pt-10">
                                    <div class="col-12">
                                        <span style="font-size:20px; color:#ffa500;">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h6 class="pt-10 pb-15 text-capitalize">MacBook Air 13” 128gb new co…</h6>
                                        <p>
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, voluptatibus? Iste enim explicabo facilis molestias consectetur.
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pt-20 text-capitalize">
                                            <small >harga</small>
                                        </span>
                                        <h3 style="letter-spacing:1px; color: #212121;">
                                            16,000,000
                                        </h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="c-btn-cart text-capitalize mt-20 ml-80" type="submit" style="letter-spacing:0.5px;">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- meta -->
                        </div>
                    </div>
                    <!-- product post #1 end here-->

                </div>

                <div class="col-lg-4 col-md-6">

                    <!-- product post #1 -->
                    <div class="single-product mt-30">
                        <div class="product-image">
                            <img src="./assets/img/macbook-2.jpg" alt="product img">
                        </div>
                        <div class="product-content">
                            <div class="content">
                                <div class="row justify-content-between pt-10">
                                    <div class="col-12">
                                        <span style="font-size:20px; color:#ffa500;">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h6 class="pt-10 pb-15 text-capitalize">MacBook Air 13” 128gb new co…</h6>
                                        <p>
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, voluptatibus? Iste enim explicabo facilis molestias consectetur.
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pt-20 text-capitalize">
                                            <small >harga</small>
                                        </span>
                                        <h3 style="letter-spacing:1px; color: #212121;">
                                            16,000,000
                                        </h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="c-btn-cart text-capitalize mt-20 ml-80" type="submit" style="letter-spacing:0.5px;">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- meta -->
                        </div>
                    </div>
                    <!-- product post #1 end here-->

                </div>

                <div class="col-lg-4 col-md-6">

                    <!-- product post #1 -->
                    <div class="single-product mt-30">
                        <div class="product-image">
                            <img src="./assets/img/macbook-3.jpg" alt="product img">
                        </div>
                        <div class="product-content">
                            <div class="content">
                                <div class="row justify-content-between pt-10">
                                    <div class="col-12">
                                        <span style="font-size:20px; color:#ffa500;">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h6 class="pt-10 pb-15 text-capitalize">MacBook Air 13” 128gb new co…</h6>
                                        <p>
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, voluptatibus? Iste enim explicabo facilis molestias consectetur.
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pt-20 text-capitalize">
                                            <small >harga</small>
                                        </span>
                                        <h3 style="letter-spacing:1px; color: #212121;">
                                            16,000,000
                                        </h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="c-btn-cart text-capitalize mt-20 ml-80" type="submit" style="letter-spacing:0.5px;">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- meta -->
                        </div>
                    </div>
                    <!-- product post #1 end here-->

                </div>

                <div class="col-lg-4 col-md-6">

                    <!-- product post #1 -->
                    <div class="single-product mt-30">
                        <div class="product-image">
                            <img src="./assets/img/iphone-1.jpg" alt="product img">
                        </div>
                        <div class="product-content">
                            <div class="content">
                                <div class="row justify-content-between pt-10">
                                    <div class="col-12">
                                        <span style="font-size:20px; color:#ffa500;">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h6 class="pt-10 pb-15 text-capitalize">iPhone 6s 6GB / 128 GB</h6>
                                        <p>
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, voluptatibus? Iste enim explicabo facilis molestias consectetur.
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pt-20 text-capitalize">
                                            <small >harga</small>
                                        </span>
                                        <h3 style="letter-spacing:1px; color: #212121;">
                                            16,000,000
                                        </h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="c-btn-cart text-capitalize mt-20 ml-80" type="submit" style="letter-spacing:0.5px;">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- meta -->
                        </div>
                    </div>
                    <!-- product post #1 end here-->

                </div>

                <div class="col-lg-4 col-md-6">

                    <!-- product post #1 -->
                    <div class="single-product mt-30">
                        <div class="product-image">
                            <img src="./assets/img/iphone-2.jpg" alt="product img">
                        </div>
                        <div class="product-content">
                            <div class="content">
                                <div class="row justify-content-between pt-10">
                                    <div class="col-12">
                                        <span style="font-size:20px; color:#ffa500;">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h6 class="pt-10 pb-15 text-capitalize">iphone SE special edition</h6>
                                        <p>
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, voluptatibus? Iste enim explicabo facilis molestias consectetur.
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pt-20 text-capitalize">
                                            <small >harga</small>
                                        </span>
                                        <h3 style="letter-spacing:1px; color: #212121;">
                                            16,000,000
                                        </h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="c-btn-cart text-capitalize mt-20 ml-80" type="submit" style="letter-spacing:0.5px;">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- meta -->
                        </div>
                    </div>
                    <!-- product post #1 end here-->

                </div>

                <div class="col-lg-4 col-md-6">

                    <!-- product post #1 -->
                    <div class="single-product mt-30">
                        <div class="product-image">
                            <img src="./assets/img/macbook-3.jpg" alt="product img">
                        </div>
                        <div class="product-content">
                            <div class="content">
                                <div class="row justify-content-between pt-10">
                                    <div class="col-12">
                                        <span style="font-size:20px; color:#ffa500;">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h6 class="pt-10 pb-15 text-capitalize">MacBook Air 13” 128gb new co…</h6>
                                        <p>
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, voluptatibus? Iste enim explicabo facilis molestias consectetur.
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pt-20 text-capitalize">
                                            <small >harga</small>
                                        </span>
                                        <h3 style="letter-spacing:1px; color: #212121;">
                                            16,000,000
                                        </h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="c-btn-cart text-capitalize mt-20 ml-80" type="submit" style="letter-spacing:0.5px;">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- meta -->
                        </div>
                    </div>
                    <!-- product post #1 end here-->

                </div>

                <div class="mx-auto mt-25">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </section>
    <!-- produt list end here -->

{% endblock %}
<!-- contents end here -->